.immersiveContainer {
  height: auto;
  padding: 2rem 3rem;
  background-color: black;
  margin-top: 3rem;
}

@media screen and (max-width: 960px) {
  .immersiveContainer {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .immersiveContainer {
    padding: 2rem;
    height: auto;
  }
}
