.softwareContainer {
  height: 60vh;
  padding: 0 10rem 0 10rem;
margin-top: 9rem;

}

.center {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


@media screen and (max-width: 600px) {
  .softwareContainer {
    padding: 0;
    flex-direction: column;
    gap: 5rem;
    height: 60rem;
    padding:2rem
  }

  .solution{
    padding: 0;
    flex-direction: column;
    gap: 5rem;
    height: 100rem;
    padding:2rem
  }
}